<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LG News - Live update - Home</title>
</head>
<body>
    <h1>LG News - Live update - Home</h1>

    <script type="text/javascript" src="/socket.io.js"></script>
    <script type="text/javascript" src="/LiveUpdate.js"></script>
</body>
</html>
